In [2]:
# Reindexing = change an index
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
# Create a series
# Show series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
# Rearrange data - reindex
# Build a new series called ser2 off of ser1
# E and F don't exist
# Pandas will give a NULL value
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [8]:
# Reindex series 2
# original series 2 was A,B,C,D,e,f
# Added a g
# Returned 1 to 4 for orignal series, 2 nulls and a zero
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [9]:
# create a series of countries
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [12]:
# Create a range of 15 points
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [16]:
# pass ranger to ser3.redinex
# ffil = forward fill
# forward fill USA to 4 before hit 5 which is Mexico
# forward fill Mexico to 9 before hit 10 which is cANADA
# forward fill Canada to 14 which is end of series
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [34]:
# Reindex both rows and columns - create a dataframe
# Create a data frame
# Call DataFrame
# Call 25 random numbers
# Call (or pass) reshape to shape a 5 by 5 matrix instead of a straight vector
# Give it an index - a letter index and skip 'C'
# Pass the columns argument to set the column names
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                  columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.264936 -0.696078  1.028603  0.991500  0.054977
B  0.385057  0.794441  0.350756 -0.555892 -0.506770
D  0.720832  1.964836 -0.336094  0.190251  0.911449
E  0.204069 -0.286924 -0.416174  0.138967 -1.421700
F  2.007016  1.535242 -1.141049 -1.465277 -1.514384

In [25]:
# Reindex the dataframe
# Create a new data frame and reindex the old dataframe
# Include 'C' index
# Pandas will insert a row of NULL values for index 'C'
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.555208 -0.781247 -0.656965 -1.095641 -0.148862
B -1.811455 -1.174802  0.254053 -0.452773  1.971492
C       NaN       NaN       NaN       NaN       NaN
D  3.333729  0.730302  0.099898  0.487727  0.929000
E  0.484092  0.437517  2.165253  0.507692 -0.505378
F  0.940578  0.786361 -1.146698 -2.001129 -1.002854

In [26]:
# Create a new list called new_columns
# Add column 6
new_columns = ['col1','col2','col3','col4','col5','col6']

In [27]:
#Reindex dframe2 with new columns
# Pandas will add column 6 with NULL values
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.555208 -0.781247 -0.656965 -1.095641 -0.148862   NaN
B -1.811455 -1.174802  0.254053 -0.452773  1.971492   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  3.333729  0.730302  0.099898  0.487727  0.929000   NaN
E  0.484092  0.437517  2.165253  0.507692 -0.505378   NaN
F  0.940578  0.786361 -1.146698 -2.001129 -1.002854   NaN

In [29]:
# Show original dframe
dframe

       col1      col2      col3      col4      col5
A -0.555208 -0.781247 -0.656965 -1.095641 -0.148862
B -1.811455 -1.174802  0.254053 -0.452773  1.971492
D  3.333729  0.730302  0.099898  0.487727  0.929000
E  0.484092  0.437517  2.165253  0.507692 -0.505378
F  0.940578  0.786361 -1.146698 -2.001129 -1.002854

In [36]:
# Quickly reindex dframe using .ix
# Call ix
# First argument it takes is rows
# Second argument it takes is columns
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.264936 -0.696078  1.028603  0.991500  0.054977   NaN
B  0.385057  0.794441  0.350756 -0.555892 -0.506770   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.720832  1.964836 -0.336094  0.190251  0.911449   NaN
E  0.204069 -0.286924 -0.416174  0.138967 -1.421700   NaN
F  2.007016  1.535242 -1.141049 -1.465277 -1.514384   NaN