In [1]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

In [3]:
# Lets make  Series
ser1 = Series([1,2,3,4,1,2,3,4])
#Show
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [4]:
# Using replace we can select --> .replace(value to be replaced, new_value)
ser1.replace(1,np.nan)

0   NaN
1     2
2     3
3     4
4   NaN
5     2
6     3
7     4
dtype: float64

In [5]:
# Can also input lists
# Can input or pass a list in a replace method
# Replace list of 1 and 4 with 100 and 400
ser1.replace([1,4],[100,400])

0    100
1      2
2      3
3    400
4    100
5      2
6      3
7    400
dtype: int64

In [7]:
# Show series
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [6]:
# Can also input or pass a dictionary
ser1.replace({4:np.nan})

0     1
1     2
2     3
3   NaN
4     1
5     2
6     3
7   NaN
dtype: float64