In [1]:
# import numpy
import numpy as np

In [2]:
# create a list variable
my_list1 = [1,2,3,4]

In [4]:
# create an array off that list
# pass the list as a variable in the array function
my_array1 = np.array(my_list1)

In [5]:
# output the array
my_array1

array([1, 2, 3, 4])

In [6]:
# create a list variable
my_list2 = [10,20,30,40]

In [10]:
# combine the two lists
my_lists = [my_list1, my_list2]

In [11]:
# output the combined lists
my_lists

[[1, 2, 3, 4], [10, 20, 30, 40]]

In [12]:
# create a multi-dimensional array off of the two lists
my_array2 = np.array(my_lists)

In [14]:
# output the multi dimnensional array
my_array2

array([[ 1,  2,  3,  4],
       [10, 20, 30, 40]])

In [15]:
# output the shape of the multi dimensional array
my_array2.shape

(2, 4)

In [16]:
# output data type
my_array2.dtype

dtype('int64')

In [17]:
# create SPECIAL ARRAY - an array of 5 zeros
np.zeros(5)

array([ 0.,  0.,  0.,  0.,  0.])

In [19]:
# create a new array with zeros
my_zeros_array1 = np.zeros(5)

In [20]:
# output the array
my_zeros_array1

array([ 0.,  0.,  0.,  0.,  0.])

In [22]:
my_zeros_array1.dtype

dtype('float64')

In [23]:
# create SPECIAL ARRAY - an array of ones
np.ones([5,5])

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [30]:
# create 2 row, 4 column array of ones
np.ones([2,4])

array([[ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.]])

In [32]:
# create an empty array
np.empty(4)

array([ 0.,  0.,  0.,  0.])

In [33]:
# create a square matrix with 5 ones
np.eye(5)

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  1.]])

In [34]:
# create a square matrix with 4 ones
np.eye(4)

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.]])

In [36]:
# create an array with START, STOP and INTERVAL parameters
# Stop before 2
np.arange(2)

array([0, 1])

In [38]:
# start at 2, stop at 10
np.arange(2,10)

array([2, 3, 4, 5, 6, 7, 8, 9])

In [40]:
# start at 2, stop at 100, with step/interval of 10
np.arange(2,100,10)

array([ 2, 12, 22, 32, 42, 52, 62, 72, 82, 92])