In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
# Series like an array but have data labels and is indexed
# Show the series
# Will see it is indexed
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
# sHow just values
obj.values

array([ 3,  6,  9, 12])

In [5]:
# Show index
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [9]:
# Create a series with specified index
# WW2 Casulatiesof country is values
# Index is country name
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [10]:
# Use index values to select values
# Call # of casualties for usa
ww2_cas['USA']

400000

In [11]:
# Check which countries had casualties > 4m using a series
# Put in an array argument
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [12]:
# Treat series as ordered dictionary
# Check if index in a series
'USSR' in ww2_cas

True

In [24]:
# Create a dictionary
# Convert a series to a dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [17]:
# Convert dictionary to series
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [19]:
# Pass dictionary in to a series
# Create a string list of countries
countries = ['China','Germany','Japan','USA','Argentina']
countries

['China', 'Germany', 'Japan', 'USA', 'Argentina']

In [26]:
# Show w2_dict
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [29]:
# Create object 2
# Pass the ww2_dict to the series
# Use ww2_dict list of countries to find
# values for countries
# Argentina missing from ww2_dict so no value
# Return Nan instead
obj2 = Series(ww2_dict,index=countries)
obj2

China        3000000
Germany      4300000
Japan        2100000
USA           400000
Argentina        NaN
dtype: float64

In [21]:
# Check for NULL values in a series
# Argentina not in list so null
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
Argentina     True
dtype: bool

In [28]:
# Check for not NULLS
# Argentina is a NULL so return NULL
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
Argentina    False
dtype: bool

In [30]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [31]:
# Add series to series
# Automatically align data to index
# ww2_series same as obj2 except for Argentina does not have a value
obj2

China        3000000
Germany      4300000
Japan        2100000
USA           400000
Argentina        NaN
dtype: float64

In [32]:
# Sum both series
# Argentina does not have a value
# Lined up by index
# Order does not matter
ww2_series + obj2

Argentina        NaN
China        6000000
Germany      8600000
Japan        4200000
USA           800000
USSR             NaN
dtype: float64

In [35]:
# Give the series a name
# Name obj2 "World War 2 Casualties"
# Return series and series name
obj2.name = "World War 2 Casulaties"
obj2

China        3000000
Germany      4300000
Japan        2100000
USA           400000
Argentina        NaN
Name: World War 2 Casulaties, dtype: float64

In [37]:
# Can name the index - a bunch of countries
# Call index
# Call name on the index
# Like excel, labeling the index column 'Countries'
obj2.index.name = 'Countries'
obj2

Countries
China        3000000
Germany      4300000
Japan        2100000
USA           400000
Argentina        NaN
Name: World War 2 Casulaties, dtype: float64