###NUMPY
* Extension of Python programming language
* Supports large multi-dimensional arrays
* Large library of mathematical functions

####ARRAYS
* An array is a data structure
* That consists of values/variables and keys/indexes
* Keys/indexes can be referenced
* Single or multi-dimensional arrays
* Elements must be of same type
* Number of elements in an array can't be changed and must be known prior to creation

######CREATING AN ARRAY

####numpy.arange([start, ]stop, [step, ]dtype=None)
Parameters:	
* start : number, optional
Start of interval. The interval includes this value. The default start value is 0.
* stop : number
End of interval. The interval does not include this value, except in some cases where step is not an integer and floating point round-off affects the length of out.
* step : number, optional
Spacing between values. For any output out, this is the distance between two adjacent values, out[i+1] - out[i]. The default step size is 1. If step is specified, start must also be given.
* dtype : dtype
The type of the output array. If dtype is not given, infer the data type from the other input arguments.

In [2]:
# Import numpy
import numpy as np

In [3]:
# CREATE A SINGLE DIMENSIONAL ARRAY USING THE ARRAY METHOD
array1 = np.array([1,2,3,4])

# Show array
array1

array([1, 2, 3, 4])

In [4]:
# CREATE A STRING ARRAY USING THE ARRAY METHOD
# Insert string values in single quotes
array2 = np.array(['A','B','C','D'])

# Show array
array2

array(['A', 'B', 'C', 'D'],
      dtype='|S1')

In [5]:
# CREATE AN ARRAY USING A LIST AND ARRAY METHOD
# Create a list
# Pass list to array
list1 = (1,2,3,4)

# Show list
list1

(1, 2, 3, 4)

In [6]:
# Pass list as an argument to array
array3 = np.array(list1)

# Show array
array3

array([1, 2, 3, 4])

In [7]:
# CREATE A 2 DIMENSIONAL ARRAY USING ARRAY METHOD
array4 = np.array([[1,2,3,4],[10,20,30,40]])

# Show array
array4

array([[ 1,  2,  3,  4],
       [10, 20, 30, 40]])

In [8]:
# CREATE A TWO DIMENSIONAL ARRAY USING LISTS AND ARRAY METHOD
list1 = (1,2,3,4)
list2 = (10,20,30,40)
# Show list1
list1

(1, 2, 3, 4)

In [9]:
# Show list2
list2

(10, 20, 30, 40)

In [10]:
# Combine list1 and list2
list_1_2 = [list1,list2]
#Show list_1_2
list_1_2

[(1, 2, 3, 4), (10, 20, 30, 40)]

In [11]:
# Pass to array method
array_1_2 = np.array(list_1_2)
# Show array
array_1_2

array([[ 1,  2,  3,  4],
       [10, 20, 30, 40]])

In [12]:
# CREATE AN ARRAY OF 5 ZEROES
np.zeros(5)

array([ 0.,  0.,  0.,  0.,  0.])

In [13]:
# CREATE AN ARRAY OF 4 ONES
np.ones(4)

array([ 1.,  1.,  1.,  1.])

In [14]:
# CREATE A 5 POINT ARRAY USING ARANGE METHOD
np.arange(5)

array([0, 1, 2, 3, 4])

In [15]:
# CREATE 10 POINT ARRAY
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
# CREATE ARRAY FROM 20 TO 30
np.arange(20,40)

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39])

In [17]:
# CREATE ARRAY FROM 20 TO 30 WITH STEP OF 4
np.arange(20,40,4)

array([20, 24, 28, 32, 36])

In [18]:
# CREATE RANDOM 10 POINT ARRAY
array5 = np.random.randn(10)
array5

array([ 0.46116511,  0.63275762, -1.34900925, -1.89620669, -0.46865879,
        0.85042244,  2.03955881, -0.28551773,  1.41314961, -1.58414472])

##### GETTING INFORMATION OF AN ARRAY

In [19]:
# GET NUMBER OF DIMENSIONS IN ARRAY
array_1_2.ndim

2

In [20]:
# GET SIZE OF ARRAY USING SHAPE METHOD
array_1_2.shape

(2, 4)

In [38]:
# GET DATA TYPE OF ARRAY
array_1_2.dtype

dtype('int64')