#### Series is like an array but has data labels and is indexed

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#####Creating a Series

In [3]:
# Create a Series
ser1 = Series([10,20,30,40])
# Show series
ser1

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
# Create a series with an index
# WW2 casualties 
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],
                 index=['USSR','Germany','China','Japan','USA'])
# Show
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

#####Working with a series

In [5]:
# Show values
ww2_cas.values

array([8700000, 4300000, 3000000, 2100000,  400000])

In [6]:
# Show indexes
ww2_cas.index

Index([u'USSR', u'Germany', u'China', u'Japan', u'USA'], dtype='object')

In [11]:
# Use index values to select values
# Call # of casualties for usa
ww2_cas['USA']

400000

In [12]:
# Check which countries had casualties > 4m using a series
# Put in an array operation
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [13]:
#Can convert Series into Python dictionary
ww2_dict = ww2_cas.to_dict()

#Show
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [16]:
#Can convert back into a Series
WW2_Series = Series(ww2_dict)

In [19]:
#We can use isnull and notnull to find missing data
pd.isnull(ww2_cas)

USSR       False
Germany    False
China      False
Japan      False
USA        False
dtype: bool

In [20]:
# Or use
ww2_cas.isnull()

USSR       False
Germany    False
China      False
Japan      False
USA        False
dtype: bool

In [21]:
#Same for the opposite
pd.notnull(ww2_cas)

USSR       True
Germany    True
China      True
Japan      True
USA        True
dtype: bool

In [23]:
# Or use
ww2_cas.notnull()

USSR       True
Germany    True
China      True
Japan      True
USA        True
dtype: bool

#####Adding series

In [25]:
# Create a 4 point series with an index
ser2 = Series([10,20,30,40],
                 index=['A','B','C','D'])
# Show
ser2

A    10
B    20
C    30
D    40
dtype: int64

In [35]:
# Create a 3 point series with an index
ser3 = Series([100,200,300],
                 index=['A','B','C'])
# Show
ser3

A    100
B    200
C    300
dtype: int64

In [36]:
# Add series
ser2 + ser3

A    110
B    220
C    330
D    NaN
dtype: float64

In [40]:
# We can give Series names
ww2_cas.name = "World War 2 Casualties"

#We can also name index
ww2_cas.index.name = 'Countries'

# Show ww2_cas
ww2_cas

Countries
USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
Name: World War 2 Casualties, dtype: int64