In [1]:
import numpy as np

##### WORK WITH A SINGLE 2 DIMENSIONAL ARRAY

In [5]:
# Create a 2 dimensional array
arr1 = np.array(([1,2,3,4],[10,20,30,40]))
#Show array
arr1

array([[ 1,  2,  3,  4],
       [10, 20, 30, 40]])

In [6]:
# Addition
arr1+arr1

array([[ 2,  4,  6,  8],
       [20, 40, 60, 80]])

In [7]:
# Subtraction
arr1-arr1

array([[0, 0, 0, 0],
       [0, 0, 0, 0]])

In [8]:
# Multiplication
arr1*arr1

array([[   1,    4,    9,   16],
       [ 100,  400,  900, 1600]])

In [10]:
# Show array
arr1

array([[ 1,  2,  3,  4],
       [10, 20, 30, 40]])

In [9]:
# Multiplication
arr1*10

array([[ 10,  20,  30,  40],
       [100, 200, 300, 400]])

In [11]:
# Inverse
1/arr1

array([[1, 0, 0, 0],
       [0, 0, 0, 0]])

In [12]:
# Exponential
arr1**2

array([[   1,    4,    9,   16],
       [ 100,  400,  900, 1600]])

In [38]:
# Square Root
# Use sqrt method and pass the array name as argument
np.sqrt(arr1)

array([[ 1.        ,  1.41421356,  1.73205081,  2.        ],
       [ 3.16227766,  4.47213595,  5.47722558,  6.32455532]])

In [16]:
# Copy an array and multiply it by 2
arr2 = arr1.copy()*2
#Show arr2
arr2

array([[ 2,  4,  6,  8],
       [20, 40, 60, 80]])

##### ADD TWO SEPARATE ARRAYS

In [18]:
# Show arr1
arr1+arr2

array([[  3,   6,   9,  12],
       [ 30,  60,  90, 120]])

##### RESHAPING ARRAYS

In [19]:
# FLATTEN AN ARRAY
# Can use two methods - flatten() or ravel()
# Show arr1
arr1

array([[ 1,  2,  3,  4],
       [10, 20, 30, 40]])

In [20]:
# Flatten array with flatten method
arr1.flatten()

array([ 1,  2,  3,  4, 10, 20, 30, 40])

In [21]:
# Show arr2
arr2

array([[ 2,  4,  6,  8],
       [20, 40, 60, 80]])

In [22]:
# Or flatten array with ravel method
arr2.ravel()

array([ 2,  4,  6,  8, 20, 40, 60, 80])

In [29]:
# Use the rehsape method to change shape of an array
# Create a 20 point array
# Reshape it to 4 rows by 5 columns
arr3 = np.arange(20).reshape(4,5)
arr3

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [35]:
# Transpose Array
arr3

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [36]:
arr3.T

array([[ 0,  5, 10, 15],
       [ 1,  6, 11, 16],
       [ 2,  7, 12, 17],
       [ 3,  8, 13, 18],
       [ 4,  9, 14, 19]])

##### Concatenate Arrays

In [30]:
# Show arr1 and arr2
arr1

array([[ 1,  2,  3,  4],
       [10, 20, 30, 40]])

In [31]:
arr2

array([[ 2,  4,  6,  8],
       [20, 40, 60, 80]])

In [33]:
# Use concatenate method to combine arrays
# Arrays must have same shape
np.concatenate((arr1,arr2))

array([[ 1,  2,  3,  4],
       [10, 20, 30, 40],
       [ 2,  4,  6,  8],
       [20, 40, 60, 80]])

In [34]:
# Create a new concatenated array
arr4 = np.concatenate((arr1,arr2))
arr4

array([[ 1,  2,  3,  4],
       [10, 20, 30, 40],
       [ 2,  4,  6,  8],
       [20, 40, 60, 80]])

##### Show list of universal functions in numpy from scipy website

In [ ]:
website = 'http://docs.scipy.org/doc/numpy/reference/ufuncs.html'
import webbrowser
webbrowser.open(website)