In [1]:
# Create a DataFrame
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
# Create a 3 point series with an index
ser01 = Series([100,200,300],
                 index=['A','B','C'])
# Show
ser01

A    100
B    200
C    300
dtype: int64

In [8]:
# Create a DataFrame by passing series
df01 = pd.DataFrame(ser01)
df01

     0
A  100
B  200
C  300

In [19]:
# Create a dataframe from scratch using a dictionary
data = {'State':['CA','CA','PA'],
        'City':['SF','LA','PHI'],
        'Airport':['SFO','LAX','PHL'],
        'Population':[837000,3880000,8400000]}

df02 = DataFrame(data)

#Show
df02

  Airport City  Population State
0     SFO   SF      837000    CA
1     LAX   LA     3880000    CA
2     PHL  PHI     8400000    PA

In [22]:
# Select column
df02['State']

0    CA
1    CA
2    PA
Name: State, dtype: object

In [26]:
# Grab multiple columns
# This creates a new data frame
DataFrame(df02,
          columns=['City','State'])

  City State
0   SF    CA
1   LA    CA
2  PHI    PA

In [28]:
# Select a row by index/label
df02.iloc[1]

Airport           LAX
City               LA
Population    3880000
State              CA
Name: 1, dtype: object

In [29]:
# Show first row only
df02.head(1)

  Airport City  Population State
0     SFO   SF      837000    CA

In [30]:
# Show last row only
df02.tail(1)

  Airport City  Population State
2     PHL  PHI     8400000    PA